/* General reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


/* Header */

header {
    background-color: rgb(37, 94, 233);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 88%;
    margin: 0 auto;
}

.nav-column {
    margin: 1rem 0;
    min-height: 6rem;
    font-size: 1rem;
    padding-top: 3rem;
}
.small-nav-column {
    width: 7%
}

.logo-img {
    padding-top: 2%;
}

div > span {
    padding-right: 1%;
}
.big-nav-column {
    text-align: center;
    width: 74%;
    color: white;
}

.login {
    background-color: #222;
    color: white;
}
#jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 29rem;
    padding: 2rem;
}

.jumbotron-text {
    color: white;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 3vh;
    padding-top: 3rem;
}

p {
    padding-top: 2rem;
}

.button {
    font-size: 1rem;
    padding: 2%;
    border-radius: 37px;
    border: none;
}

.download {
    margin-right: 2rem;
    margin-top: 2rem;
}

.browser {
    background-color: #222;
    color: white;
    margin-top: 2rem;
}
/* Main content */

.odd {
    min-height: 30rem;
    text-align: center;
}

.even {
    min-height: 30rem;
    background-color: lightgrey;
    text-align: center;
}

.img-container {
    margin: 2rem 0;
}

.text-container {
    margin: 2rem 0;
}

h2 {
    margin-top: 3vh;
}

.even-big {
    min-height: 58rem;
    background-color: lightgrey;
    text-align: center;
}

.big-text-container {
    margin: 0 auto;
    width: 70%;
    padding-top: 1vh;
}

.star {
    background-image: url(../img/stars.svg);
    background-size: 90%;
    background-repeat: repeat;
    padding-top: 3rem;
}

.download2 {
    background-color: rgb(114, 137, 218);
    color: white;
    margin-top: 2rem;
}

/* Footer */

footer {
    background-color: #222;
    min-height: 29rem;
    color: white;
}

h4 {
    color: #4261b6;
    padding: 1rem 0;
}

h5 {
    color: #4261b6;
    padding: 12% 0;
}
.padding{
    padding-top: 7%;
}
.flag{
    width: 12%;
    padding-right: 2%;
}
.footer-column {
    min-height: 25rem;
    border-bottom: 2px solid white;
}

.language-column {
    width: 18%;
    margin-bottom: 1rem;
}

.help-column {
    width: 14%;
    margin-bottom: 1rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 62%;
    margin: auto
}

.login2 {
    background-color: rgb(114, 137, 218);
    color: white;
    margin-top: 1rem;
}