* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


/* Header */

header {
    background-color: rgb(37, 94, 233);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
<<<<<<< HEAD
    width: 88%;
=======
    width: 70%;
>>>>>>> 48851bdd0276d20dba32d15aafccc21ba6410cdf
    margin: 0 auto;
}

.nav-column {
    margin: 1rem 0;
    font-size: 3vh;
    padding-top: 3rem;
}
.small-nav-column {
    width: 13%
}

.logo-img {
    padding-top: 2%;
}

div > span {
    padding-right: 1%;
}
.big-nav-column {
    text-align: center;
    width: 74%;
    color: white;
}

.login-button {
    border-radius: 5px;
    font-size: 3vh;
}

#jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 29rem;
    padding: 2rem;
}

.jumbotron-text {
    color: white;
    width: 60%;
    margin: 0 auto;
    text-align: center;
<<<<<<< HEAD
=======
}

h1 {
    font-size: 5vh;
    padding-top: 2rem;
}

.paragraph {
    padding-top: 2rem;
>>>>>>> 48851bdd0276d20dba32d15aafccc21ba6410cdf
}

h1 {
    font-size: 5vh;
    padding-top: 3rem;
}

p {
    padding-top: 2rem;
}

.download-button {
    font-size: 3vh;
    margin-top: 2rem;
    padding: 2%;
    border-radius: 20px;
    margin-right: 2vh;
}

.browser-button {
    background-color: #222;
    color: white;
    font-size: 3vh;
    margin-top: 1rem;
    padding: 2%;
    border-radius: 20px;
    margin-right: 2vh;
}
/* Main content */

.odd {
<<<<<<< HEAD
    min-height: 30rem;
    text-align: center;
}

.even {
    min-height: 30rem;
=======
    min-height: 20rem;
}

.even {
    min-height: 20rem;
>>>>>>> 48851bdd0276d20dba32d15aafccc21ba6410cdf
    background-color: lightgrey;
    text-align: center;
}

.light-blue {
    margin: 2rem 0;
}

.pink {
    margin: 2rem 0;
}

h2 {
    margin-top: 3vh;
}

.even-big {
    min-height: 60rem;
    background-color: lightgrey;
    text-align: center;
}

.green {
    margin: 1rem 0;
    width: 70%;
}

<<<<<<< HEAD
.star {
    background-image: url(../img/stars.svg);
    background-size: 96%;
    background-repeat: repeat;
    padding-top: 3rem;
}

.download2 {
    font-size: 2vh;
    margin-top: 6rem;
    padding: 2%;
    border-radius: 20px;
    background-color: rgb(114, 137, 218);
    color: white;
}
=======
.download-button {
    font-size: 3vh;
    margin-top: 2rem;
    padding: 2%;
    border-radius: 20px;
    margin-right: 2vh;
}

.browser-button {
    background-color: #222;
    color: white;
    font-size: 3vh;
    margin-top: 1rem;
    padding: 2%;
    border-radius: 20px;
    margin-right: 2vh;
}

>>>>>>> 48851bdd0276d20dba32d15aafccc21ba6410cdf
/* Footer */

footer {
    background-color: #222;
    height: 21rem;
}

.footer-column {
    height: 17rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid white;
}

.pink-column {
    background-color: rgb(240, 128, 128);
    width: 18%;
    height: 16rem;
    border: 1px dashed;
    margin-bottom: 1rem;
}

.green-column {
    background-color: rgb(32, 178, 170);
    width: 13%;
    height: 16rem;
    border: 1px dashed white;
    margin-bottom: 1rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    height: 3rem;
    width: 60%;
    margin: auto
}

.button {
    background-color: rgb(255, 187, 200);
    height: 1rem;
    border: 1px dashed;
    font-size: 22px;
    padding-left: 3px;
}